body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	background: #333;
	width: 100%
}

h1 {
	padding: 5px;
	margin: 5px;
	float: left;
}

ul li a {
	display: block;
	width: 100px;
	text-align: center;
	float: left;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	width: 19.5em;
	float: right;
}

nav ul li a {
	display: block;
	margin: .5em;
	padding-top: 1em;
}

section {
	color: #000;
	text-align: left;
	width: 100%;
}

article {
	padding: 2%;
	margin: 0 2%;
	float: right;
	width: 40%;
}

#cougarheader {
	padding: 2%;
	margin: 0 2%;
	float: left;
	width: 40%;
	background: #B26219;
}

#lionheader {
	padding: 2%;
	margin: 0 2%;
	float: left;
	width: 40%;
	background: #FFBA68;
}

#tigerheader {
	padding: 2%;
	margin: 0 2%;
	float: left;
	width: 40%;
	background: #FFBD82;
}

#cougar {
	margin-top: 1em;
	background: #B26219;
	width: 100%;
	clear: both;
	padding: 1em;
	height: 800px;
}

#lion {
	background: #FFBA68;	
	width: 100%;
	clear: none;
	padding: 1em;
	height: 800px;
}

#tiger {
	background: #FFBD82;
	width: 100%;
	clear: none;
	padding: 1em;
	height: 800px
}

footer {
	text-align: center;
	padding: 5px;
	float: bottom;
	clear: both;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }
